

.flex-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.last-update {
    font-style: italic;
    font-weight: 200;
    font-size: 12px;
}
.last-update2 {
    font-weight: 400;
}
