
/* Mobile */
/* Mobile = :default
Process: copy paste all into media query and empty */
.colCont {
    position: relative;
}
.stat-value {
    font-size: 1.9rem;
    font-weight: 900;
    
}
.light-black {
    color: #43494c;
}
.stat-key {
    font-size: 1.7rem;
    font-weight: 200;
    color: #707a7f;
    /* min-width: 400px; */
}
.table-cont {
    padding: 0 10px;
}
table {
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 100%;
}
.flag {
    width: 20px;
    margin-left: 5px;
}
tr:nth-child(1) {
    background-color: #e7f7fe;
}
tr {
    background-color: white;
}
th {
    white-space: nowrap;
    font-size: 13px;
    cursor: pointer;
    font-weight: 500;
}
th:hover {
    font-weight: 900;
}
td:nth-child(1) {
    font-weight: 900;
    letter-spacing:1.2px;
    color: black;
    
}
.cases, .recovered, .deaths {
    font-size: 15px;
  
    letter-spacing:1.2px;
  
}
.cases {
    color: #43494c;
    padding: 10px;
   
}
.active-cases {
    color: #795548;
    padding: 10px;
   
}
.new-cases {
    color: #2196F3;
    padding: 10px;
   
}
.recovered {
    color: #4CAF50;
    padding: 10px;
   
}
.deaths {
    color: #F44336;
    padding: 10px; 
}
.new-deaths {
    color: #B00000 ;
    padding: 10px; 
}
.active{
    text-decoration: underline;
    font-weight: 900;
}
.input-cont {
    width: 200px;
  
}
input[type=text] {
    height: 2rem !important;
}

/* Desktop */
@media only screen and (min-width: 700px){

    .colCont {
    
    }
    .stat-value {
        font-size: 2.2rem;
        
    }
    .light-black {
    
    }
    .stat-key {
        font-size: 2rem;
    
        /* min-width: 400px; */
    }

    table {
        width: 100%;
    }
    .flag {
        width: 20px;
    }
    th {
    
    }
    td {
        font-size: 15px;
    }
    .cases, .recovered, .deaths {
        font-size: 15px;
    }
    .cases {

       
    }
    .recovered {

       
    }
    .deaths {

    }
    .input-cont {
    
    }
}
