.letter-spacing-xs {
  letter-spacing: 1px;
}
.letter-spacing-s {
  letter-spacing: 1.3px;
}
.letter-spacing-m {
  letter-spacing: 1.4px;
}
.letter-spacing-l {
  letter-spacing: 1.5px;
}
.letter-spacing-xl {
  letter-spacing: 1.7px;
}
h2, h5, h6 {
  text-align: center;
}
h5 {
  letter-spacing: 1.6px;
  text-transform: uppercase;
  font-weight: 300;
}
h6 {
  padding: 20px 0 10px 0;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-decoration: underline wavy;
}
.iframeCont {
  min-width: 300px;
  max-width: 500px;
  min-height: 150px;
  max-height: 1000px;
  margin: auto;
}
#iframe {
  border: none;
  min-height: 370px;
  width: 100%;

}
@media only screen and (min-width: 700px) {
  .iframeCont {
    min-height: 400px;
    min-width: 300px;
  }
  #iframe {
    min-height: 400px;

  }
}
